html {
  height: 100%;
}

body,
label {
  color: $white;
}

.wrapper {
  background-image: url('/images/body_bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  bottom: 0%;
  left: 0%;
  padding-top: 210px;
  position: fixed;
  right: 0%;
  top: 0%;
}

.row {
  background-color: $pantone-354;
}

form#enterURL {
  padding-top: 34px;
}

.heading-medium {
  font-size: 30px;
}

.button {
  background-color: $pantone-144;
  color: $black;

}
