// ==========================================================================
// DEFINE VARIABLES USED THOUGHOUT (INCLUDE FIRST)
// ==========================================================================
// Colours
$white: #fff;
$grey: #777;
$shadow: rgba(40, 40, 40, .6);
$black: #000;
//EA Green
$pantone-354: rgba(0, 175, 65, 1);
//Orange
$pantone-144: rgba(247, 137, 19, 1);

// Metrics
// Baseline values - using GDS defualts here
$vertical: 15px;
$horizontal: 30px;
