<!DOCTYPE html>
<!-- EXAMPLE URL
https://connect2.environment-agency.gov.uk/owa/,DanaInfo=webmail.prodds.ntnl,SSL+redir.aspx?C=6q6bDqZEH0uJ9HwEbq0zc-0-2LRsb9QI8W1HK85OarF68mviKlXa-17RuQ_PCMHodyKsi-Vl_9k.&URL=https%3a%2f%2fintranet.defra.gov.uk%2fforms%2fhomeworking-telephone-service-registration%2f
-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EA URL Decoder</title>
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="images/favicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="images/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="images/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16.png">
    <link rel="apple-touch-icon" href="images/favicon/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/favicon-144.png">
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
<!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
<!-- local css overwrites -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <div class="wrapper">
    <main>
      <div class="row">
        <div class="small-12 columns">
          <h1>Disconnect2</h1>
          <p>Making links work again in Outlook Web for off-network users.</p>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 large-4 columns ends">
          <a id="resolved" class="button hide" href="#">New link</a>
          <form id="enterURL" name="decoder" method="post">
            <fieldset>
              <label for="badURL">Paste URL to fix</label>
              <textarea name="badURL" id="badURL"></textarea>
            </fieldset>          
<script>
function connect2decoder(outboundLInk) {
    outboundLink = document.getElementsByName("badURL")[0].value;;

if (outboundLink === "") 
{
    confirm ('No URL found in the textarea');
}
else 
{
    encodedLink = outboundLink.split('&URL=')[1];
    realLink = decodeURIComponent(encodedLink);
// Put new link into href element of <a> on page
    document.getElementById("resolved").setAttribute("href",realLink);

//Change visibility of interactive elements once new link is created
    enterURL.classList.add("hide");
    hideButton.classList.add("hide");
    resolved.classList.remove("hide");
}

}
</script>
            
          </form>
          <button id="hideButton" class="button" onclick="connect2decoder()">Decode URL</button>
        </div>
      </div>
    </main>
    </div>
  </body>
</html>