<!DOCTYPE html>
<!-- EXAMPLE URL
https://connect2.environment-agency.gov.uk/owa/,DanaInfo=webmail.prodds.ntnl,SSL+redir.aspx?C=6q6bDqZEH0uJ9HwEbq0zc-0-2LRsb9QI8W1HK85OarF68mviKlXa-17RuQ_PCMHodyKsi-Vl_9k.&URL=https%3a%2f%2fintranet.defra.gov.uk%2fforms%2fhomeworking-telephone-service-registration%2f
-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EA URL Decoder</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <main>
      <h1>Disconnect2</h1>
      <form name="decoder">
        <fieldset>
          <label for="badURL">Paste URL to fix</label>
          <textarea name="badURL" id="badURL"></textarea>
        </fieldset>
      </form>
<script>
function connect2decoder(outboundLInk, encodeLink, realLink) {
    outboundLink = document.getElementsByName("badURL")[0].value;;
    encodedLink = outboundLink.split('&URL=')[1];
    realLink = decodeURIComponent(encodedLink);

    document.write("<a href="+realLink+">Fixed it for you</a>");
}
</script>
      <button onclick="connect2decoder()">Decode URL</button>
    </main>
  </body>
</html>