html {
    height: 100%;
}

body {
  color: #fff;
}

label {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}

.wrapper {
  background-image: url('/images/body_bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  bottom: 0%;
  left: 0%;
  padding-top: 300px;
  position: fixed;
  right: 0%;
  top: 0%;
}
