// ==========================================================================
// BUTTONS
// ==========================================================================

.button {
  background-color: $pantone-144;
  color: $black;

  &:hover {
    background-color: $pantone-354;
    color: $white;
  }
}
